	<!-- cart banner section -->
	<section class="cart-banner pt-100 pb-100">
    <div class="container">
        <div class="row clearfix">
            <!--Image Column-->
            <div class="image-column col-lg-6">
                <div class="image">
                    <div class="price-box">
                        <div class="inner-price">
                              <span class="price">
                                  <strong>30%</strong> <br> off per kg
                              </span>
                          </div>
                      </div>
                    <img src="img/a.jpg" alt="">
                  </div>
              </div>
              <!--Content Column-->
              <div class="content-column col-lg-6">
        <h3><span class="orange-text">Deal</span> of the month</h3>
                  <h4> Strawberry</h4>
                  <div class="text">This month, indulge in our juicy strawberries at an unbeatable price! Fresh, 
                    flavorful, and perfect for snacking or adding to your favorite dishes, these strawberries 
                    are sure to brighten your meals. Don’t miss out on this sweet deal—grab yours while supplies last!</div>
                  <!--Countdown Timer-->
                  <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2020/2/01"><div class="counter-column"><div class="inner"><span class="count">00</span>Days</div></div> <div class="counter-column"><div class="inner"><span class="count">00</span>Hours</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Mins</div></div>  <div class="counter-column"><div class="inner"><span class="count">00</span>Secs</div></div></div></div>
                <a href="/cart" class="cart-btn mt-3"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
              </div>
          </div>
      </div>
  </section>
  <!-- end cart banner section -->