<section class="pb-4 my-4">
    <div class="container-lg">

      <div class="bg-warning pt-5 rounded-5">
        <div class="container">
          <div class="row justify-content-center align-items-center">
            <div class="col-md-4">
              <h2 class="mt-5">Download Organic App</h2>
              <p>Online Orders made easy, fast and reliable</p>
              <div class="d-flex gap-2 flex-wrap mb-5">
                <a href="#" title="App store"><img src="images/img-app-store.png" alt="app-store"></a>
                <a href="#" title="Google Play"><img src="images/img-google-play.png" alt="google-play"></a>
              </div>
            </div>
            <div class="col-md-5">
              <img src="images/banner-onlineapp.png" alt="phone" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </section>