<section id="featured-products" class="products-carousel">
    <div class="container-lg overflow-hidden py-5">
      <div class="row">
        <div class="col-md-12">

          <div class="section-header d-flex flex-wrap justify-content-between my-4">
            
            <h2 class="section-title">Featured products</h2>

            <div class="d-flex align-items-center">
              <a href="#" class="btn btn-primary me-2">View All</a>
              <div class="swiper-buttons">
                <button class="swiper-prev products-carousel-prev btn btn-primary">❮</button>
                <button class="swiper-next products-carousel-next btn btn-primary">❯</button>
              </div>  
            </div>
          </div>
          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="swiper">
            <div class="swiper-wrapper">
                              
              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-10.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Greek Style Plain Yogurt</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-11.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Pure Squeezed No Pulp Orange Juice</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-12.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Fresh Oranges</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-13.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Gourmet Dark Chocolate Bars</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-14.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Fresh Green Celery</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-15.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Sandwich Bread</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-16.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Honeycrisp Apples</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-17.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Whole Wheat Sandwich Bread</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="product-item swiper-slide">
                <figure>
                  <a href="index.html" title="Product Title">
                    <img src="images/product-thumb-18.png" alt="Product Thumbnail" class="tab-image">
                  </a>
                </figure>
                <div class="d-flex flex-column text-center">
                  <h3 class="fs-6 fw-normal">Honeycrisp Apples</h3>
                  <div>
                    <span class="rating">
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-full"></use></svg>
                      <svg width="18" height="18" class="text-warning"><use xlink:href="#star-half"></use></svg>
                    </span>
                    <span>(222)</span>
                  </div>
                  <div class="d-flex justify-content-center align-items-center gap-2">
                    <del>$24.00</del>
                    <span class="text-dark fw-semibold">$18.00</span>
                    <span class="badge border border-dark-subtle rounded-0 fw-normal px-1 fs-7 lh-1 text-body-tertiary">10% OFF</span>
                  </div>
                  <div class="button-area p-3 pt-0">
                    <div class="row g-1 mt-2">
                      <div class="col-3"><input type="number" name="quantity" class="form-control border-dark-subtle input-number quantity" value="1"></div>
                      <div class="col-7"><a href="#" class="btn btn-primary rounded-1 p-2 fs-7 btn-cart"><svg width="18" height="18"><use xlink:href="#cart"></use></svg> Add to Cart</a></div>
                      <div class="col-2"><a href="#" class="btn btn-outline-dark rounded-1 p-2 fs-6"><svg width="18" height="18"><use xlink:href="#heart"></use></svg></a></div>
                    </div>
                  </div>
                </div>
              </div>

                
            </div>
          </div>
          <!-- / products-carousel -->

        </div>
      </div>
    </div>
  </section>