<section class="py-4">
    <div class="container-lg">
      <h2 class="my-4">People are also looking for</h2>
      <a href="#" class="btn btn-warning me-2 mb-2">Blue diamon almonds</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Angie’s Boomchickapop Corn</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Salty kettle Corn</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Chobani Greek Yogurt</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Sweet Vanilla Yogurt</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Foster Farms Takeout Crispy wings</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Warrior Blend Organic</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Chao Cheese Creamy</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Chicken meatballs</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Blue diamon almonds</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Angie’s Boomchickapop Corn</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Salty kettle Corn</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Chobani Greek Yogurt</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Sweet Vanilla Yogurt</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Foster Farms Takeout Crispy wings</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Warrior Blend Organic</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Chao Cheese Creamy</a>
      <a href="#" class="btn btn-warning me-2 mb-2">Chicken meatballs</a>
    </div>
  </section>

  <section class="py-5">
    <div class="container-lg">
      <div class="row row-cols-1 row-cols-sm-3 row-cols-lg-5">
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#package"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Free delivery</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#secure"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>100% secure payment</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#quality"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Quality guarantee</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#savings"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>guaranteed savings</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3 border border-dark-subtle p-3">
            <div class="text-dark mb-3">
              <svg width="32" height="32"><use xlink:href="#offers"></use></svg>
            </div>
            <div class="card-body p-0">
              <h5>Daily offers</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipi elit.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="py-5">
    <div class="container-lg">
      <div class="row">

        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-menu">
            <img src="images/logo.svg" width="240" height="70" alt="logo">
            <div class="social-links mt-3">
              <ul class="d-flex list-unstyled gap-2">
                <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16"><use xlink:href="#facebook"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16"><use xlink:href="#twitter"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16"><use xlink:href="#youtube"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16"><use xlink:href="#instagram"></use></svg>
                  </a>
                </li>
                <li>
                  <a href="#" class="btn btn-outline-light">
                    <svg width="16" height="16"><use xlink:href="#amazon"></use></svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-2 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Organic</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="nav-link">About us</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Conditions </a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Our Journals</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Careers</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Affiliate Programme</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Ultras Press</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Quick Links</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="nav-link">Offers</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Discount Coupons</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Stores</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Track Order</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Shop</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Info</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Customer Service</h5>
            <ul class="menu-list list-unstyled">
              <li class="menu-item">
                <a href="#" class="nav-link">FAQ</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Contact</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Privacy Policy</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Returns & Refunds</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Cookie Guidelines</a>
              </li>
              <li class="menu-item">
                <a href="#" class="nav-link">Delivery Information</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="footer-menu">
            <h5 class="widget-title">Subscribe Us</h5>
            <p>Subscribe to our newsletter to get updates about our grand offers.</p>
            <form class="d-flex mt-3 gap-0" action="index.html">
              <input class="form-control rounded-start rounded-0 bg-light" type="email" placeholder="Email Address" aria-label="Email Address">
              <button class="btn btn-dark rounded-end rounded-0" type="submit">Subscribe</button>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </footer>
  <div id="footer-bottom">
    <div class="container-lg">
      <div class="row">
        <div class="col-md-6 copyright">
          <p>© 2024 Organic. All rights reserved.</p>
        </div>
        <div class="col-md-6 credit-link text-start text-md-end">
          <p>HTML Template by <a href="https://templatesjungle.com/">TemplatesJungle</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a> </p>
        </div>
      </div>
    </div>
  </div>
  <script src="js/jquery-1.11.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <script src="js/plugins.js"></script>
  <script src="js/script.js"></script>
</body>
</html>