	<!-- latest news -->
	<div class="latest-news pt-150 pb-150">
		<div class="container">

			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="section-title">	
						<h3><span class="orange-text">Our</span> News</h3>
						<p>

							Stay updated with the latest from Fruitkha! Our news section features exciting product launches, 
							health tips, seasonal promotions, and company initiatives. Join us as we celebrate the joy of fruit 
							and share our commitment to quality and sustainability. 
							Keep an eye out for delicious updates and exclusive offers!</p>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">In autumn, you might find yourself searching in vain for 
								fruit on this tree, its branches bare and lifeless, a stark reminder of the 
								vibrant summer it once bore. The leaves have fallen, leaving only a haunting silhouette 
								against the crisp sky, as if it holds secrets of the harvest that never came.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">A man's worth, much like a tomato, has its season of ripeness. 
								Just as the fruit transforms under the sun, gaining flavor and depth, so too does 
								a man evolve through experience and growth. In the right conditions, he blossoms into 
								something rich and fulfilling,yet outside of season, 
								his value may remain hidden, waiting for the perfect moment to shine.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 offset-md-3 offset-lg-0">
					<div class="single-latest-news">
						<a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
						<div class="news-text-box">
							<h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
							<p class="blog-meta">
								<span class="author"><i class="fas fa-user"></i> Admin</span>
								<span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
							</p>
							<p class="excerpt">Good thoughts yield fresh, juicy fruit, nourishing the mind and soul.
								 Like a garden tended with care, positive ideas cultivate growth and creativity, 
								 resulting in vibrant outcomes that delight and inspire. When we nurture our thoughts, 
								they blossom into rewards that enrich our lives and the lives of those around us.</p>
							<a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="news.html" class="boxed-btn">More News</a>
				</div>
			</div>
		</div>
	</div>
	<!-- end latest news -->