	<!-- testimonail-section -->
	<div class="testimonail-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-10 offset-lg-1 text-center">
					<div class="testimonial-sliders">
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="img/avaters/avatar1.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Saira Hakim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" Fruitkha has become my go-to for healthy snacking! 
									The freshness and variety of flavors are incredible. I love how easy it is to 
									grab a pack when I’m on the move. It’s the perfect balance of delicious and nutritious, 
									and I feel great knowing I’m fueling my body with quality 
									ingredients. Definitely a game changer for my snacking habits! "
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="img/avaters/avatar2.png" alt="">
							</div>
							<div class="client-meta">
								<h3>David Niph <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									" "Since I discovered Fruitkha, my snacking game has totally changed! 
									The flavors are so vibrant and refreshing, and I love that they’re made from real fruit. 
									It’s the perfect guilt-free treat for any time of day. Plus, 
									the convenience makes it easy to stay healthy on busy days. I can’t recommend it enough!""
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
						<div class="single-testimonial-slider">
							<div class="client-avater">
								<img src="img/avaters/avatar3.png" alt="">
							</div>
							<div class="client-meta">
								<h3>Jacob Sikim <span>Local shop owner</span></h3>
								<p class="testimonial-body">
									""Fruitkha is a fantastic addition to my daily routine! 
									The taste is absolutely delightful, and I love that it’s made with real ingredients.
									 It’s perfect for satisfying my sweet cravings without the guilt. 
									Whether I’m at work or on a hike, I always keep a pack on hand. Truly a delicious and healthy snack!""
								</p>
								<div class="last-icon">
									<i class="fas fa-quote-right"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end testimonail-section -->