<section>
    <div class="container-lg">

      <div class="bg-secondary text-light py-5 my-5" style="background: url('images/banner-newsletter.jpg') no-repeat; background-size: cover;">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-5 p-3">
              <div class="section-header">
                <h2 class="section-title display-5 text-light">Get 25% Discount on your first purchase</h2>
              </div>
              <p>Just Sign Up & Register it now to become member.</p>
            </div>
            <div class="col-md-5 p-3">
              <form>
                <div class="mb-3">
                  <label for="name" class="form-label d-none">Name</label>
                  <input type="text"
                    class="form-control form-control-md rounded-0" name="name" id="name" placeholder="Name">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label d-none">Email</label>
                  <input type="email" class="form-control form-control-md rounded-0" name="email" id="email" placeholder="Email Address">
                </div>
                <div class="d-grid gap-2">
                  <button type="submit" class="btn btn-dark btn-md rounded-0">Submit</button>
                </div>
              </form>
              
            </div>
            
          </div>
          
        </div>
      </div>
      
    </div>
  </section>