<%- include('partials/start') %>
<%- include('partials/header') %>
<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Organic Information</p>
                    <h1>News Article</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- latest news -->
<div class="latest-news mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">You will vainly look for fruit on it in autumn.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 4, July 2015</span>
                        </p>
                        <p class="excerpt">In autumn, you might find yourself searching in vain for fruit on this tree, 
                            its branches bare and lifeless, a stark reminder of the vibrant summer it once bore. 
                            The leaves have fallen, leaving only a haunting silhouette against 
                            the crisp sky, as if it holds secrets of the harvest that never came.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-2"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">A man's worth has its season, like tomato.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 6 January, 2015</span>
                        </p>
                        <p class="excerpt">A man's worth, much like a tomato, has its season of ripeness. 
                            Just as the fruit transforms under the sun, gaining flavor and depth, so too does a man 
                            evolve through experience and growth. In the right conditions, he blossoms into something 
                            rich and fulfilling,yet outside of season, his value may remain hidden, waiting for the perfect moment to shine.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-3"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Good thoughts bear good fresh juicy fruit.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 June, 2018</span>
                        </p>
                        <p class="excerpt">Good thoughts yield fresh, juicy fruit, nourishing the mind and soul. 
                            Like a garden tended with care, positive ideas cultivate growth and creativity, 
                            resulting in vibrant outcomes that delight and inspire. When we nurture our 
                            thoughts, they blossom into rewards that enrich our lives and the lives of those around us.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-4"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Fall in love with the fresh orange</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Fall in love with the fresh orange, a burst of sunshine in every bite. 
                            Its vibrant color invites you to savor the sweet, tangy flavor that awakens your senses. 
                            Juicy and refreshing, this citrus delight brings a touch of brightness to even the dullest days,
                             reminding you to embrace the simple joys and zest for life.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-5"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Why the berries always look delecious</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 8 January, 2019</span>
                        </p>
                        <p class="excerpt">Berries always look delicious because of their vibrant colors and enticing shapes. 
                            Their rich reds, deep blues, and bright purples create a feast for the eyes, while their 
                            natural glossiness hints at juiciness. These small fruits are often associated with sweetness 
                            and freshness, making them irresistible. Plus, their appealing 
                            presentation in clusters adds to their charm, inviting you to indulge in nature’s candy..</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single-latest-news">
                    <a href="single-news.html"><div class="latest-news-bg news-bg-6"></div></a>
                    <div class="news-text-box">
                        <h3><a href="single-news.html">Love for fruits are genuine of John Doe</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2018</span>
                        </p>
                        <p class="excerpt">John Doe’s love for fruits is genuine and heartfelt, reflecting a deep 
                            appreciation for nature's bounty. Whether it’s the vibrant colors, the rich flavors, 
                            or the health benefits, each bite brings him joy and nourishment. His passion for fresh 
                            produce inspires those around him to savor the simple pleasures of life, 
                            celebrating the beauty and diversity that fruits bring to our tables.</p>
                        <a href="single-news.html" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="pagination-wrap">
                            <ul>
                                <li><a href="#">Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li><a class="active" href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">Next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end latest news -->
<%- include('partials/footer') %>